@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 20px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #030a0f66;
}

/* webkit stroke used to stand out against header using white */
header .logo {
  color: #00426e;
  cursor: pointer;
  font-size: 40px;
  font-family: Lora, sans-serif;
  -webkit-text-stroke: 0.4px #fff;
  letter-spacing: -5px;
}

header>a {
  text-decoration: none;
}

.menu {
  display: flex;
  color: #00426e;
  z-index: 20000;
  text-transform: uppercase;
  font-family: Roboto;
}

.menu ul li {
  list-style: none;
  display: inline-block;
  margin-left: 25px;
}

/* webkit stroke used to stand out against header using black */
.menu ul li a {
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  -webkit-text-stroke: 0.6px #000000;
  word-spacing: 10px;
  text-align: center;
}

.menu a:hover {
  border-bottom: 1px solid #114;
}

.showcase {
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8eaec4;
  transition: 0.5s;
  z-index: 2;
  position: fixed;
}

.showcase video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}


.text {
  position: relative;
  z-index: 10;
}

/* webkit stroke used to stand out against background using white */
.text h1 {
  font-family: Lora, sans-serif;
  font-size: 6em;
  color: #00426e;
  -webkit-text-stroke: 0.4px white;
}

.text h2 {
  font-family: Roboto, sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-family: Lora, sans-serif;
  font-size: 2em;
  font-weight: 400;
  line-height: 1em;
  color: #fff;
  text-decoration: underline;
  line-height: 2em;
}

.text p {
  font-family: Lora, sans-serif;
  font-size: 1.2em;
  color: #fff;
  font-weight: 400;
  padding: 1em;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #00426e;
  letter-spacing: 2px;
  transition: 0.2s;
  line-height: 1em;
}

.text a:hover {
  letter-spacing: 6px;
  background-color: #8eaec4;
  color: #fafafa;
}

.social1 {
  position: absolute;
  z-index: 10;
  bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #00426e;
}

.social1 li {
  list-style: none;
  color: #00426e;
}

.social1 li a {
  display: inline-block;
  margin: 20px;
  transform: scale(0.5);
  transition: 0.5s;
  color: #00426e;
}

.social1 li a:hover {
  transform: scale(0.5) translateY(-15px);
}

.social2 {
  position: absolute;
  z-index: 100;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #fff;
}

.social2 li {
  list-style: none;
}

.social2 li a {
  display: inline-block;
  margin: 20px;
  transform: scale(0.5);
  transition: 0.5s;
  color: #fff;
  bottom: auto;
}

.social2 li a:hover {
  transform: scale(0.5) translateY(-15px);
}

.container {
  display: flex;
  margin: 2em;
  gap: 2em;
  z-index: 30000;
}

.signup-form {
  color: #fff;
  background-color: #00426ecc;
  min-width: 350px;
  left: 10%;
  padding: 10px;
  z-index: 25000;
}

.signup-form h2 {
  color: #fafafa;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  align-items: center;
}

.text-input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 0 0 2px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.text-input:hover {
  border-color: 00426e;
}

.join-button {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 5px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  font-weight: 400;
  margin-top: 10px;
  color: #00426e;
  letter-spacing: 2px;
  transition: 0.2s;
  line-height: 1em;
}

.join-button:hover {
  background-color: rgb(142, 174, 196);
  color: #fafafa;
  letter-spacing: 6px;
}

/* webkit stroke used to stand out against background using white */
#voyagertext {
  font-family: Lora, sans-serif;
  font-size: 20em;
  font-weight: 400;
  position: relative;
  bottom: 75px;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
  letter-spacing: -20px;
}

/* webkit stroke used to stand out against background using white */
#landingtexth2 {
  font-family: Roboto, sans-serif;
  font-size: 3em;
  font-weight: 400;
  color: #00426e;
  line-height: 1em;
  text-transform: uppercase;
  position: relative;
  bottom: 75px;
  -webkit-text-stroke: 0.2px #fff;
}

#landingtexth3 {
  font-family: Lora, sans-serif;
  font-size: 2em;
  font-weight: 400;
  line-height: 1em;
  color: #fff;
  position: relative;
  bottom: 75px;
  text-decoration: none;
}

#specifich {
  text-decoration: underline;
}

.button {
  position: relative;
  bottom: 75px;
}

/* media queries (larger screens) */
@media (max-width: 1250px) {

  .showcase,
  .showcase header {
    padding: 60px;
  }

  .menu ul li a {
    font-size: 20px;

  }

  .text h1 {
    font-size: 4em;
  }

  .text h2 {
    font-size: 3em;
  }

  .text h3 {
    font-size: 2em;
    line-height: 1.3em;
  }

  .social2 {
    font-size: 35px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .signup-form>h2 {
    font-size: 1.6em
  }

  #specifich {
    font-size: 1.6em;
  }

  #voyagertext {
    font-size: 14em;
    letter-spacing: -10px;
  }

  #landingtexth2 {
    font-size: 2.5em;
  }

  #landingtexth3 {
    font-size: 1.8em;
  }
}

/* media queries (medium screens) */
@media (max-width: 900px) {

  .showcase,
  .showcase header {
    padding: 40px;
  }

  .text h2 {
    font-size: 2.6em;
  }

  .text h3 {
    font-size: 1.8em;
  }

  .text p {
    font-size: 1.2em;
  }

  .social2 {
    font-size: 35px;
  }

  .container {
    flex-direction: column-reverse;
  }

  .signup-form>h2 {
    font-size: 1.4em
  }

  #specifich {
    font-size: 1.4em;
  }

  #voyagertext {
    font-size: 9em;
    letter-spacing: -5px;
  }

  #landingtexth2 {
    font-size: 2em;
  }

  #landingtexth3 {
    font-size: 1.5em;
  }

  .text a {
    font-size: 0.7em;
    padding: 5px;
  }
}

/* media queries (smaller screens) */
@media (max-width: 600px) {

  .showcase,
  .showcase header {
    padding: 20px;
  }

  header .logo {
    font-size: 30px
  }

  .menu ul li a {
    font-size: 15px;
  }

  .text h1 {
    font-size: 3em;
  }

  .text h2 {
    font-size: 2em;
  }

  .text h3 {
    font-size: 1.6em;
  }

  .text p {
    font-size: 1em;
  }

  .social2 {
    font-size: 35px;
  }

  .container {
    margin-bottom: inherit;
  }

  .signup-form>h2 {
    font-size: 1em
  }

  #specifich {
    font-size: 1.3em;
  }

  #voyagertext {
    font-size: 6em;
    letter-spacing: -5px;
  }

  #landingtexth2 {
    font-size: 2em;
  }

  #landingtexth3 {
    font-size: 1.8em;
  }

}

/* media queries (smaller screens) */
@media (max-width: 375px) {

  .showcase,
  .showcase header {
    padding: 15px;
  }

  .menu ul li a {
    font-size: 12px;
  }

  .text h1 {
    font-size: 2.5em;
  }

  .text h2 {
    font-size: 1.8em;
  }

  .text h3 {
    font-size: 1.4em;
  }

  .text p {
    font-size: 0.7em;
  }

  .social2 {
    font-size: 30px;
  }

  #specifich {
    font-size: 1em;
  }

  #voyagertext {
    font-size: 4.5em;
    letter-spacing: -5px;
  }

  #landingtexth2 {
    font-size: 1.6em;
  }

  #landingtexth3 {
    font-size: 1.4em;
  }

}

/* media queries (extra small screens) */
@media (max-width: 280px) {
  .menu ul li a {
    font-size: 10px;
  }

  .text h1 {
    font-size: 2.4em;
  }

  .text h2 {
    font-size: 1.7em;
  }

  .text h3 {
    font-size: 1.3em;
  }

  .text p {
    font-size: 0.7em;
  }

  .social1 {
    font-size: 30px;
  }

  .social2 {
    font-size: 30px;
  }

  .signup-form {
    min-width: 260px;
  }

  .signup-form h2 {
    font-size: 12px;
  }

  #specifich {
    font-size: 1em;
  }

  #specificp {
    font-size: 12px;
    max-width: 260px;
  }

  #voyagertext {
    font-size: 4.5em;
    letter-spacing: -5px;
  }

  #landingtexth2 {
    font-size: 1.6em;
  }

  #landingtexth3 {
    font-size: 1.4em;
  }

}